__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.DS_Store

# local installs of vendored packages
third_party/**/src/*.egg-info/
third_party/**/*.egg-info/
